<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="input-box">
    
    <form action="/link" method="post" id="form" autocomplete="off" class="form-box">
        <h2>Paste Everything Here</h2>
        <input type="text" name="all" id="all-input">
        <h2>OR</h2>
        
        <input type="text" name="time" id="time" placeholder="Time">
        
        <input type="text" name="link" id="link" placeholder="https//zoom.link">
        
        <input type="tel" minlength="10" maxlength="10"  placeholder="Phone Number" name="phonenumber" id="phonenumber">
        
        <button id="send-btn"><span>Send</span></button>
    </form>
    </div>
    
</body>
<script src="/js/client.js"></script>
</html>